.content_list{
    background-color: #DDE6F0;
    border-color: black;
}
input[type="checkbox" ] {
    background-color: #fff;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}