
.topnav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:auto;
  overflow: hidden;
  //background-color: #200fbd;

  div.burger_button{
    padding-left: 12px;
    grid-column: 1 / span 1;
    &:hover {
      border-radius: 50%;
      // display: inline-block;
      // margin: 0 4px;
      // padding: 12px;
      // overflow: hidden;
      // vertical-align: middle;
      // cursor: pointer;
      // height: 24px;
      // width: 24px;
    }
  }
  div.brand{
    padding-left: 12px;
    //background-color: #f321ec;
    grid-column: 2 / span 1;
  }
  div.search-container{
    padding-left:  10px;
    padding-bottom: 10px;
    //background-color: #cdbe19;
    grid-column: 3/span 6;
  
  }
  
   div.status{
     margin-left: 12px;
      border-radius: 24px;
      height: 38px;
      padding: 0 24px 0 0;
      min-width: 60px;
      background-color: #21b8f3;
      padding-left: 18px;
      padding-top: 1%;
      grid-column: 9/span 1;
  }
  
  div.iconos_help {
    grid-column: 10/span 1;

    i{
      width: 20px; height: 20px;
      padding-left: 10px;
    }
    
  }

  div.apps{

    grid-column: 11/span 1;
    img{
      width: 20px; height: 20px;
  }
    
  }
  div.profile{
    grid-column: 12/span 1;
  }

  
  a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
      background-color: rgb(29, 53, 190);
      color: rgb(247, 241, 241);
    }
    .active {
      background-color: #2196F3;
      color: white;
    }
  
  }
}

///

div.colum_main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: inherit;
  height: 80vh;

  //clases añadidad
  div.side_menu.class1{
   
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    overflow: hidden;
    grid-column: 1 / span 1;
  }
  div.side_menu.class2{
    background-color: #1f144d;
    grid-column: 1 / span 3;
  }

  div.main_area.class1 {
    background: rgb(41, 157, 30);
    grid-column: 2 / span 9;
  }
  div.main_area.class2 {
    background: rgb(221, 208, 221);
    grid-column: 4 / span 7;
  }
}

