<div>
    
    <div class="topnav">
        <div>
          <i class='fa fa-navicon fa-2x' 
          style='margin-left:40px; 
          margin-top:20px; color: white'></i>
        </div>
        
        <a href="#contact">
            <img class="gb_zc" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png" srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x_r2.png 2x ,https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png 1x" alt="" aria-hidden="true" style="width:109px;height:40px">
        </a>
        <div class="search-container">
          <app-form-busqueda></app-form-busqueda>
        </div>
        <div class="iconos_help">
          <i class='fa fa-question-circle-o fa-2x' style=' color: white'></i>
          <i class='fa fa-gear fa-2x' style='color: white'></i>
          <i class='fa-solid fa-table-cells fa-2x' style='color: white'></i>
          <i class='fa-solid fa-list-check fa-2x'></i>
        </div>
       
      <app-profile></app-profile>

      </div>
</div>
<!-- <img class="gb_zc" 
  src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png" srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_2x_r2.png 2x ,https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png 1x" alt="" aria-hidden="true" style="width:109px;height:40px">
     -->