.grid {
  display: grid;
  background-image: url("../assets/img/Wallpaper.jpg");
  grid-template-columns: 1fr;
  width: 100vw;
  grid-template-rows: auto;
  grid-gap: 1rem;

  @media (min-width: 500px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
  }
  div.colum_superior {
    //background:#200fbd;
    height: 10vh;
  }
  div.colum_main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: inherit;
    height: 80vh;
  
    //clases añadidad
    div.side_menu.class1{
      background-color: inherit;
      transform: translate3d(0, 0, 0) !important;
      visibility: visible !important;
      overflow: hidden;
      grid-column: 1 / span 1;
    }
    div.side_menu.class2{
      //background-color: #1f144d;
      grid-column: 1 / span 3;
    }
  
    div.main_area.class1 {
      //background: rgb(41, 157, 30);
      grid-column: 2 / span 9;
    }
    div.main_area.class2 {
      //background: rgb(221, 208, 221);
      grid-column: 4 / span 7;
    }
  }
}