body {
  color: #4d4d4d;
  background-color: #f5f5f5;
  color: #4d4d4d;
}

contentInbox {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

contentInbox menu_superior {
  background-color: #2525b4;
  height: 20vh;
}

contentInbox main_area {
  background: color #be4c4c;
  height: 60vh;
}
