

<div class="contentInbox">
    <div class="menu_superior">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem possimus fugiat asperiores nobis pariatur, quae porro. Expedita sed, vel est commodi atque eos aliquam tenetur delectus sunt accusantium iusto alias?
    </div>
    <div class="main_area">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque voluptas ad porro asperiores voluptate aliquam nulla ipsum alias reprehenderit, autem explicabo illum veritatis eaque assumenda, eveniet repellat ullam tempora repellendus.
    </div>
</div>
