<div class="form_content">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search" />
    <button type="submit">Submit</button>
    <i class="fas fa-grip-horizontal fa-2x" style="color: white"></i>

    <button aria-label="Borrar búsqueda" type="button">
      <svg
        focusable="false"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </button>

    <button
      type="button"
      data-tooltip="Mostrar opciones de búsqueda"
      aria-label="Opciones de búsqueda avanzada"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"
        ></path>
      </svg>
    </button>
  </form>
</div>

<div class="gb_uf gb_of" gh="sb">
  <table
    cellspacing="0"
    cellpadding="0"
    class="gstl_50 gstt"
    role="presentation"
    style="height: 28px"
  >
    <tbody>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" style="width: 100%">
            <tbody>
              <tr>
                <td class="gsib_a gb_ef">
                  <div id="gs_lc50" style="position: relative">
                    <input
                      class="gb_ef"
                      aria-label="Buscar en todas las conversaciones"
                      autocomplete="off"
                      placeholder="Buscar en todas las conversaciones"
                      value=""
                      name="q"
                      type="text"
                      dir="ltr"
                      spellcheck="false"
                      aria-haspopup="true"
                      aria-live="off"
                      aria-owns="gs_sbt50"
                      style="
                        border: none;
                        padding: 0px;
                        margin: 0px;
                        height: auto;
                        width: 100%;
                        background: url('data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D')
                          transparent;
                        position: absolute;
                        z-index: 6;
                        left: 0px;
                      "
                    /><input
                      disabled=""
                      autocomplete="off"
                      autocapitalize="off"
                      id="gs_taif50"
                      class="gb_ef"
                      dir="ltr"
                      style="
                        border: none;
                        padding: 0px;
                        margin: 0px;
                        height: auto;
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                        background-color: transparent;
                        -webkit-text-fill-color: silver;
                        color: silver;
                        left: 0px;
                        visibility: hidden;
                      "
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
