.form_content{
    margin-top: 10px;
    padding:10px;
    

    background: #f1f3f4;
    border: 1px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
    -webkit-transition: background 100ms ease-in,width 100ms ease-out;
    transition: background 100ms ease-in,width 100ms ease-out;

    .opciones, .close ,.search{
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0 5px;
        line-height: 0;
    }

}