<div class="form_content">
  <form action="/action_page.php">
    
  <button type="button"
   class="search"
   data-tooltip="Buscar"
   aria-label="Busqueda">
    <img src="../../../assets/img/search.png">
  </button>

  <input type="text" placeholder="Buscar en todas las conversaciones" name="search" />
    <button class="close" 
    aria-label="Borrar búsqueda" 
    type="button">
      <img src="../../../assets/img/close.png">
    </button>

    <button
      type="button"
      class="opciones"
      data-tooltip="Mostrar opciones de búsqueda"
      aria-label="Opciones de búsqueda avanzada"
    >
      <img src="../../../assets/img/options.png">
    </button>
  </form>
</div>


